
* {
	font-family: sans-serif;
	margin: 0;


}
.listas { padding bottom: 500px;
          border-bottom: 50px solid red;
          background-color: #00ffff;
}
.lorem{
	color:#blanchedalmond ;
	margin: 20px;
}

ol { 
     font-weight:bold; /*colocar em negrito*/
}

h1{
	background-color: blue;
	font-size: 50px;
	font-family: sans-serif;
	color: rgb(255, 127, 80);
}
<--/ color e para alterar a cor do texto/--> 
div{
	color: blue;

}

h2{
	background-color: red;
	font-size: 30px;
}

img{
	font-size: .5px;
}
footer{
	background-color: red 100px;
	color: blue;
	margin-left: 500px;
	margin-top: 20px;
}